/* STORE PAGE */
.store-page {
  margin-block: 0.5rem;
  padding-block: 15px;
  padding-inline: 20px;
  background-color: #293241;
  border-radius: 0.5rem;
}
.store-page .game-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.store-page .game-cards > .game-card {
  width: 18rem;
  margin: 0.5rem;
}
.store-page .game-cards > .game-card:hover {
  transform: translateY(-8px);
  transition: 250ms;
}
.store-page .game-cards > .game-card img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: fill;
}
.store-page .game-cards > .game-card img:hover,
.store-page .game-cards > .game-card .game-categories a:hover {
  cursor: pointer;
}
.store-page .item {
  border-radius: 0.35rem;
  overflow: hidden;
}
.store-page .item .item-body {
  padding: 1rem;
  padding-inline: 0.5rem;
}
.store-page .item h4 {
  font-size: 15px;
  margin-bottom: 0px;
  display: inline-block;
}
.store-page .item span {
  color: #b6b6b6;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}
.store-page .item ul {
  list-style: none;
  float: right;
}
.store-page .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}
.store-page .main-button {
  text-align: center;
  margin-bottom: -53px;
}

/* FORM HTML */
.game-form > form {
  margin: auto;
  padding: 1rem;
  width: fit-content;
  border-radius: 0.25rem;
}
.game-form > form > div {
  margin-bottom: 0.25rem;
}
.game-form div > label,
.game-form div {
  color: white !important;
  display: block;
}
.game-form div > label {
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.game-form div > input {
  width: 100%;
  padding: 0.25rem;
  display: block;
}

/* DETAILS PAGE */
@media screen and (max-width: 720px) {
  .game-details > .row {
    display: flex;
    flex-direction: column;
  }
  .game-details > .row div:first-child {
    margin-bottom: 1rem;
  }
}
