{% extends 'base.html' %} 

{% block title %} {% if game.id %} Edit {% else %} Create {% endif %} Game {% endblock %} 

{%load static %}
{% block headers%}
<link rel="stylesheet" href="{% static 'games/css/main.css'%}" />
{% endblock%}

{% block content %}
<div class="game-form">
  <h1 class="text-center color-native fw-bold">
    {% if game.id %} Edit {% else %} Create {% endif %} Game
  </h1>
  <form
    class="form-container bg-native"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {{form}}
    <button class="btn btn-secondary my-2 w-100" type="submit">
      {% if category.id %} Edit {% else %} Create {% endif %} Game
    </button>
  </form>
</div>
{% endblock %}
