<footer class="bg-native text-white py-4">
    <div class="container text-center">
        <!-- Website Logo or Name -->
        {% load static %}
        <img src="{% static 'image/website-icon2.png' %}" alt="website_icon" class="website-logo" />
        <h3 class="text-uppercase fw-bold">GameNest.com</h3>

        <!-- Navigation Links -->
        <nav class="mb-4">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-white">Home</a></li>
                <li class="list-inline-item"><a href="#" class="text-white">Agents</a></li>
                <li class="list-inline-item"><a href="#" class="text-white">About</a></li>
                <li class="list-inline-item"><a href="#" class="text-white">Listing</a></li>
                <li class="list-inline-item"><a href="#" class="text-white">Blog</a></li>
                <li class="list-inline-item"><a href="#" class="text-white">Contact</a></li>
            </ul>
        </nav>

        <!-- Social Media Icons -->
        <div class="mb-4">
            <a href="#" class="text-warning text-nounderline me-3" aria-label="Twitter">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="#" class="text-warning text-nounderline me-3" aria-label="Facebook">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#" class="text-warning" aria-label="Instagram">
                <i class="fab fa-instagram text-nounderline fa-2x"></i>
            </a>
        </div>

        <!-- Copyright Text -->
        <div>
            <p class="mb-0">Copyright ©2024 All rights reserved <a href="https://yourwebsite.com/"
                    class="text-warning text-nounderline">GameNest.com</a>.
            </p>
        </div>
    </div>
</footer>