<div class="category-card">
    <a href="{% url 'store_page' %}?genre={{category.name }}">
        <img src="{{category.image.url}}" alt="{{category.name}}">
    </a>
    <div class="category-content">
        <span class="fw-bold">{{category.name}}</span>
        {% if user.id and user.is_superuser %}
            <a href="{% url 'edit_category' pk=category.id %}">&#9998; Edit</a>
            <a href="{% url 'delete_category' category_id=category.id %}">&#128369; Remove</a>
        {% endif %}
    </div>
</div>